<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml"xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Tabela de Lojas</title>	
</head>	
<body>
	Tabela de Lojas
	<table class="table table-sm table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th>ID</th>
				<th>primeiro nome</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="loja : ${lojas}">
				<td th:text="${loja.id}"></td>
				<td th:text="${loja.nome}"></td>
			</tr>
		</tbody>
	</table> 
</body>	

</html>