<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml"xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>eu vou ser um analista baby</title>	
</head>	
<body>
	eu vou ser um analista baby!!!
	<table class="table table-sm table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th>ID</th>
				<th> nome</th>
				<th>quatidade</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="Produto : ${produto}">
				<td th:text="${produto.id}"></td>
				<td th:text="${produto.nome}"></td>
				<td th:text="${produto.quantidade}"></td>
				
			</tr>
		</tbody>
	</table> 
</body>	
</html>